main {
  margin: 0 auto 120px;
  max-width: 600px;
}
h1,h2,h3 {line-height: 1.4;}
h1 {
  font-size: 35px;
  margin: 24px 0;
}
h2 {
  font-size: 28px;
  margin-bottom: 27.6px;
}
h3 {
  font-size: 24px;
  margin-bottom: 12px;
}
section {margin-bottom: 120px;}
.h3sec + .h3sec {margin-top: 40px;}
ul.p1,ol.p1,ul.p2,ol.p2 {padding-left: 1.7rem;}
li:not([class]) + li:not([class]) {margin-top: 6px;}
pre {
  font-size: 0;
  padding: 20px 2px;
  background: #373737;
  overflow: auto;
}
picture {display: block;}

p {margin: 38px 0;}
h2 + p,h3 + p {margin: 0;}
.p2 {margin: 19px 0;}

.h1_c {
  font-size: 14px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  margin-bottom: 60px;
}
.breadcrumbs_c {
  display: flex;
  list-style: none;
  transform: translateX(-10px);
}
.breadcrumbs-list::after {
  content: "";
  display: inline-block;
  color: #595959;
  width: 6px;
  height: 6px;
  border-right: 1.5px solid #595959;
  border-bottom: 1.5px solid #595959;
  transform: translate(-2px, -0.8px) rotate(-45deg);
}
.breadcrumbs-list:last-of-type::after {content: none;}
.breadcrumbs-list-link {
  color: #595959;
  display: inline-block;
  padding: 6px 10px;
  text-decoration: none;
}
.breadcrumbs-list-link:focus,
.breadcrumbs-list-link:active {text-decoration: underline;}
.toc-a:hover,.toc-a:focus {text-decoration: underline;}
.lastUpdated {
  color: #595959;
  margin: 0;
}
.tableOfContents {
  padding-left: 30px;
  border-left: 3px solid #1779c6;
}
.toc-li + .toc-li {margin-top: 8px;}
.toc-a {
  box-sizing: border-box;
  color: #262626;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
.tableOfContents-link:focus,
.tableOfContents-link:active {color: #1779c6;}

.fullWidthImg {
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 3px;
  width: 100%;
  height: auto;
}
.portraitImg {
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 3px;
  display: block;
  margin-left: calc(50% - 140px);
  margin-left: max(20%, calc(50% - 140px));
  width: 280px;
  width: min(60%, 280px);
}

blockquote {
  background: #ececec;
  padding: 20px 5px 20px 20px;
}
.quoteSource {
  font-size: calc(1rem - 3px);
  text-align: right;
  margin-top: 10px;
}

.inlineCode {
  color: #37474f;
  background: #f1f3f4;
  border-radius: 2px;
  display: inline-block;
  letter-spacing: -0.3px;
  line-height: 1;
  padding: 2px 4px;
}
.blockCode_c {counter-reset: code;}
.code-line {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  letter-spacing: -0.3px;
  line-height: 1.5;
}
.code-line::before {
  border-right: 1px solid #4b4b4b;
  color: #a9aaa5;
  content: counter(code);
  counter-increment: code;
  display: inline-block;
  padding-right: 8px;
  margin: 0 7px 0 0;
  text-align: right;
  width: 28px;
}
.code-gray {color: #75725e;}
.code-pink {color: #f92672;}
.code-green {color: #a6e22e;}
.code-yellow {color: #e6db5c;}
.code-blue {color: #50b5cf;}
.code-purple {color: #ae81dc;}
.code-orange {color: #ff8518;}

@media (min-width:710px) {
  .breadcrumbs-list-link:hover {text-decoration: underline;}
  .tableOfContents-link:hover {color: #1779c6;}
}
