.progressBar {
  width: 105vw;
  height: 7px;
  background: #3959ca;
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 2;
}

.pb-bottom {
  top: auto;
  bottom: 0;
}
.pb-gradation {background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);}
.pb-dumpling {background: 0 0/12px 7px radial-gradient(circle at center, #0f54b2 3.5px, transparent 3.5px);}
.pb-car {background: none;}
.pb-car::after {
  content: "";
  width: 68px;
  height: 30.49px;
  position: absolute;
  bottom: 4px;
  right: 0;
  background: center/cover url(img/car.png);
}

[data-class] {
  color: #0f54b2;
  font-size: 16px;
  height: 38px;
  padding: 0 17px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 19px;
  margin-right: 10px;
  cursor: pointer;
}
[data-class]:hover,
[data-class]:focus,
.btn-active {
  color: #fff;
  background: #0f54b2;
  outline: 0;
}
.btn-active {pointer-events: none;}
