header {
  font-size: 0;
  margin: 20px auto 40px;
  width: 90%;
}
.header-link {
  color: #000;
  display: inline-block;
  font-family: "Lucida Console","Courier New",monospace;
  font-weight: 700;
  text-decoration: none;
}
.logo {
  height: 33px;
  margin-right: 20px;
  vertical-align: middle;
}
.header-orgName {
  font-size: 20px;
  vertical-align: middle;
}
