footer {
  background: #f8f9fa;
  padding: 40px 0;
}
.footer-a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 15px 0;
  text-align: center;
}
.footer-a:focus,
.footer-a:hover {text-decoration: underline;}

@media (min-width:750px) {
  footer {padding: 70px 0;}
  .footer-ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, max-content);
    grid-gap: 46px;
  }
}
