.transfer_info {
  white-space: nowrap;
  margin-left: 1.3rem;
  overflow: auto;
}
th {
  text-align: left;
  padding: 7px 1rem 7px 0;
}
table {border-collapse: collapse;}
tr {border-bottom: 1px solid #d1d1d1;}
.li-secondLevel {padding-left: 1.7rem;}
